name: Latest
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@master
      - name: Publish Latest to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: ravielze/Labpro-BE/labpro-backend
          username: ${{ secrets.PKG_REGISTRY_USERNAME }}
          password: ${{ secrets.PKG_REGISTRY_PASSWORD }}
          registry: docker.pkg.github.com
          tags: "latest"
  copy_setting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Copy code to server
        uses: appleboy/scp-action@v0.1.1
        with:
          host: ${{ secrets.HOST }}
          port: 22
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          source: "./server/*"
          target: "."
          overwrite: true
  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Run deployment script over SSH
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.HOST_ADDRESS }}
          port: 22
          username: ${{ secrets.HOST_USERNAME }}
          password: ${{ secrets.HOST_PASSWORD }}
          script: "docker-compose pull && docker-compose build && docker-compose up -d --remove-orphans"